---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyDUtELRkTKSwVkdd6fMLEJC_Zh-VdxojBg&maxResults=1&part=snippet&q=Fiji&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "j5KRMqG_ufvKTX9j_0xIAXBjuz8",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 28,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "tH4OQ5GYphxw5DU9fQnn7E5VIjU",
              "id": {
                "kind": "youtube#video",
                "videoId": "6P8mZ-1FHI4"
              },
              "snippet": {
                "publishedAt": "2020-06-18T00:27:03Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Fiji",
                "description": "Pictures requiring attribution: Patrick Nunn: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/6P8mZ-1FHI4/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/6P8mZ-1FHI4/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/6P8mZ-1FHI4/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2020-06-18T00:27:03Z"
              }
            }
          ]
        }
  recorded_at: Tue, 14 Nov 2023 16:40:16 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=Fiji
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - B3WRVfuZIH7gShoGi2mkybY76SPK1SntbCwalCsOlMW6vbKKi25dBexn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8c77981ffbef8c17d58f56b3b3894cc1"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24996'
      X-Ratelimit-Reset:
      - '1702564605'
      X-Server:
      - caterpillar
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":10,"photos":[{"id":1752461,"width":3966,"height":2976,"url":"https://www.pexels.com/photo/aerial-view-of-beach-and-huts-1752461/","photographer":"Damon
        Hall","photographer_url":"https://www.pexels.com/@damodigital","photographer_id":557149,"avg_color":"#7F8770","src":{"original":"https://images.pexels.com/photos/1752461/pexels-photo-1752461.jpeg","large2x":"https://images.pexels.com/photos/1752461/pexels-photo-1752461.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/1752461/pexels-photo-1752461.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/1752461/pexels-photo-1752461.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/1752461/pexels-photo-1752461.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/1752461/pexels-photo-1752461.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/1752461/pexels-photo-1752461.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/1752461/pexels-photo-1752461.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Aerial
        View Of Beach And Huts"},{"id":8534177,"width":4160,"height":6240,"url":"https://www.pexels.com/photo/white-square-box-over-dry-leaves-8534177/","photographer":"Anna
        Nekrashevich","photographer_url":"https://www.pexels.com/@anna-nekrashevich","photographer_id":10955896,"avg_color":"#E0DFDB","src":{"original":"https://images.pexels.com/photos/8534177/pexels-photo-8534177.jpeg","large2x":"https://images.pexels.com/photos/8534177/pexels-photo-8534177.jpeg?auto=compress\u0026[...]
