---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=France
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - B3WRVfuZIH7gShoGi2mkybY76SPK1SntbCwalCsOlMW6vbKKi25dBexn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7db7f298697f5363e50f24fca11d99b6"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24995'
      X-Ratelimit-Reset:
      - '1702564605'
      X-Server:
      - bulldog
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":10,"photos":[{"id":2363,"width":1600,"height":1066,"url":"https://www.pexels.com/photo/clear-glass-museum-during-golden-hour-2363/","photographer":"Pixabay","photographer_url":"https://www.pexels.com/@pixabay","photographer_id":2659,"avg_color":"#8E5F38","src":{"original":"https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg","large2x":"https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Clear
        Glass Museum during Golden Hour"},{"id":699466,"width":3024,"height":4032,"url":"https://www.pexels.com/photo/low-angle-photo-of-eiffel-tower-699466/","photographer":"Flo
        Dahm","photographer_url":"https://www.pexels.com/@flodahm","photographer_id":154317,"avg_color":"#2F3044","src":{"original":"https://images.pexels.com/photos/699466/pexels-photo-699466.jpeg","large2x":"https://images.pexels.com/photos/699466/pexels-photo-699466.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr[...]
